.myFirstClass {
    color: red;
}

.container {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.firstBox {
    background-color: green;
}

.secondBox {
    background-color: yellow;
}